@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

body::-webkit-scrollbar{
    display: none;
  }  

  .scroll::-webkit-scrollbar {
    display: none;
    overflow-y: hidden;
    overflow-x: scroll;
  }

*{
    transition: all 0.1s ease;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --maincolor: rgb(250,66,81);
    --maincolorgradient: radial-gradient(circle, rgba(250,66,81,1) 38%, rgba(184,3,37,1) 75%, rgba(79,20,32,1) 100%);
    --headerblack: #2c2c2c;
    --contentbackgroundcolor: #f1f3f6;
    --mainpagecontenttitle: #fff6a9;
}

/* .dark-mode{
    --maincolor: #585858;
    --headeryellow: #FFCA08;
    --textcolor: #D6D6D7;
    --contentbackgroundcolor: #35363A;
    --aretitle: #dddddd;
    --tablelines: #646464;
    --tableback: #3b3b3b;
    --tabletext: #dddddd;
    --itemselected: #FFCA08;
    --categorytitle: #dddddd;
    .darkicon1{
        color: white;
    }
} */

  html{
    scroll-behavior: smooth;
    min-height: 100%;
  }

  body{
    background: rgb(250,66,81);
    background: radial-gradient(circle, rgba(250,66,81,1) 38%, rgba(184,3,37,1) 75%, rgba(79,20,32,1) 100%) no-repeat;
  }

.darkicon1{
    transition: all 0.2s ease;
    font-size: 40px;
    cursor: pointer;
    color: #fff;
}

.darkicon1:hover{
    color: rgb(129, 129, 129);
}

.headerbar{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 2px 35px black;
    background: #2c2c2c;
    top: 0;
}

.headercontent{
    width: 94%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-leftsection{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-rightsection{
    justify-content: center;
    letter-spacing: 0.3mm;
}

.header-prof-pic img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-top: 2px;
    border: 0;
    outline: 0;
}

.logospace{
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logospace img{
    width: 50%;
    height: auto;
    cursor: pointer;
}

.logospace a{
    font-size: 28px;
    text-decoration: none;
    color: #eaecf0;
    text-shadow: 2px 2px 10px black;
    font-family: 'Ultra', serif;
    font-weight: 100;
}

.menul{
    width: 350px;
}

.menul ul{
    width: 100%;
    height: 26px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    list-style: none;
}

.menul ul a{
    text-decoration: none;
    color: #fff;
    transition: all 0.2s ease;
    font-size: 1vw;
    font-weight: 550;
}

.menul ul a:hover{
    color: var(--headeryellow)
}

.marker{
    width: 60%;
    height: 0.3vh;
    background: #e2bb04;
    margin: 0 auto;
}

.menul .selected{
    color: var(--headeryellow);
}

.selected{
    color: var(--headeryellow)
}

.accountControlBox{
    width: 250px;
    height: 90px;
    position: absolute;
    right: 0.7%;
    background: #FFFFFF;
    display:none;
    border-radius: 10px;
}

.accountControlBox ul{
    height: 90px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accountControlBox ul li a{
    text-decoration: none;
    color: black;
    transition: all 0.2s ease;
    font-size: 20px;
    padding-left: 15px;
}

.accountControlBox ul li{
    width: 90%;
    height: 4vh;
    cursor: pointer;
    border-radius: 10px;
}

.accountControlBox ul li:hover{
    background: #e0e0e0;
    cursor: pointer;
}



.speedchoosemode{
    width: 90%;
    max-width: 600px;
    height: 300px;
    background: #fafafac0;
    margin: 150px auto;
    border-radius: 10px;
    box-shadow: 1px 1px 20px 1px;
}

.modestitle h2 {
    font-size: 50px;
    line-height: 150px;
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
    color: #fff6a9;
    font-family: "Sacramento", cursive;
    text-align: center;
    animation: blink 5s infinite;
    -webkit-animation: blink 4s infinite;
    font-family: "Sacramento", cursive;
    user-select: none;
  }
  
  
  @-webkit-keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
    text-shadow: 0 0 5px #ff0000, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: #ffa9a9;
    }
  }
  
  @keyframes blink {
    20%,
    24%,
    55% {
      color: #111;
      text-shadow: none;
    }
  
    0%,
    19%,
    21%,
    23%,
    25%,
    54%,
    56%,
    100% {
    text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
      color: var(--mainpagecontenttitle);
    }
  }

  .modescontainer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3%;
  }

  .modescontainer a{
    text-decoration: none;
    width: 100%;
    max-width: 150px;
    height: 60px;
  }

  .modescontainer button{
    width: 100%;
    max-width: 150px;
    height: 60px;
    background: rgb(250,66,81);
    outline: 0;
    border: 0;
    border-radius: 8%;
    color: #fff;
    transition: all 0.3s ease;
  }

  .modescontainer button:hover{
    background: rgb(180, 51, 62);
  }
  



@media screen and (max-width:1024px){
    .image {
        max-width: 350px;
        height: auto;
    }

    .container {
        width: 350px;
    }

    .overlay {
        width: 350px;
    }
}

@media screen and (max-width:768px){

    .category-container{
        width: 98%;
    }

    .card-container{
        width: 100%;
        overflow-x: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .container{
        width: 350px;
    }
    
}
