@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");

body::-webkit-scrollbar{
    display: none;
  }  

  .scroll::-webkit-scrollbar {
    display: none;
    overflow-y: hidden;
    overflow-x: scroll;
  }

*{
    transition: all 0.1s ease;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

:root {
    --maincolor: rgb(250,66,81);
    --maincolorgradient: radial-gradient(circle, rgba(250,66,81,1) 38%, rgba(184,3,37,1) 75%, rgba(79,20,32,1) 100%);
    --headerblack: #2c2c2c;
    --contentbackgroundcolor: #f1f3f6;
    --mainpagecontenttitle: #fff6a9;
}

/* .dark-mode{
    --maincolor: #585858;
    --headeryellow: #FFCA08;
    --textcolor: #D6D6D7;
    --contentbackgroundcolor: #35363A;
    --aretitle: #dddddd;
    --tablelines: #646464;
    --tableback: #3b3b3b;
    --tabletext: #dddddd;
    --itemselected: #FFCA08;
    --categorytitle: #dddddd;
    .darkicon1{
        color: white;
    }
} */

  html{
    scroll-behavior: smooth;
    min-height: 100%;
  }

  body{
    background: rgb(250,66,81);
    background: radial-gradient(circle, rgba(250,66,81,1) 38%, rgba(184,3,37,1) 75%, rgba(79,20,32,1) 100%);
  }

.darkicon1{
    transition: all 0.2s ease;
    font-size: 40px;
    cursor: pointer;
    color: #fff;
}

.darkicon1:hover{
    color: rgb(129, 129, 129);
}

.headerbar{
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 5px 2px 35px black;
    background: #2c2c2c;
    top: 0;
}

.headercontent{
    width: 94%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-leftsection{
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header-rightsection{
    width: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    letter-spacing: 0.3mm;
}

/* .logregbox{
} */

.logregbox span{
    color: #fff; 
    font-weight: 800;
    user-select: none;
}

.logregbox a{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    transition: all .3s ease;
}

.logregbox a:hover{
    font-size: 19px;
    color: var(--mainpagecontenttitle);
    transition: all .3s ease;
}

.logospace{
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logospace img{
    width: 50%;
    height: auto;
    cursor: pointer;
}

.logospace a{
    font-size: 28px;
    text-decoration: none;
    color: #eaecf0;
    text-shadow: 2px 2px 10px black;
    font-family: 'Ultra', serif;
    font-weight: 100;
}

.menul{
    width: 350px;
}

.menul ul{
    width: 100%;
    height: 8px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    list-style: none;
}

.menul ul a{
    text-decoration: none;
    color: #fff;
    transition: all 0.2s ease;
    font-size: 18px;
    font-weight: 550;
}

.menul ul a:hover{
    color: var(--mainpagecontenttitle);
    font-size: 19px;
}

.marker{
    width: 60%;
    height: 0.3vh;
    background: var(--mainpagecontenttitle);
    margin: 0 auto;
}

.menul .selected{
    color: var(--mainpagecontenttitle);
}

.header-prof-pic img{
    width: 80px;
    height: 80px;
    margin-bottom: 5px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}

.accountControlBox{
    width: 250px;
    height: 90px;
    position: absolute;
    right: 0.7%;
    background: #FFFFFF;
    display:none;
    border-radius: 10px;
}

.accountControlBox ul{
    height: 90px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accountControlBox ul li a{
    text-decoration: none;
    color: black;
    transition: all 0.2s ease;
    font-size: 20px;
    padding-left: 15px;
}

.accountControlBox ul li{
    width: 90%;
    height: 4vh;
    cursor: pointer;
    border-radius: 10px;
}

.accountControlBox ul li:hover{
    background: #e0e0e0;
    cursor: pointer;
}

.selectisparent{
    margin: 160px;
}

.select_container{
    max-width: 550px;
    background-color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 35px 10px rgba(0, 0, 0, 0.35);
    border-radius: 25px;
}

.select_title {
    width: 100%;
    height: 8vh;
    background: radial-gradient(circle, rgba(250,66,81,1) 38%, rgba(184,3,37,1) 75%);
    color: #fff;
    letter-spacing: 0.5vh;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select_section {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.select_space{
    width: 85%;
    height: 105px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 600;
}


.select_space select{
    width: 100%;
    height: 6vh;
    border: 2px solid rgb(250,89,120);
    padding-left: 10px;
    border-radius: 10px;
    font-size: 16px;
    outline: 0;
}

/* .select_space select > option{
    margin-top: 10%;
    font-size: 17px;
    border: 2px solid rgb(250,89,120);
    padding: 10px;
} */

.select_inputs select {
    cursor: pointer;
}

#gs_button {
    width: 80%;
    font-size: 18px;
    height: 6vh;
    border: 0;
    outline: 0;
    border-radius: 20px;
    background: rgb(250,66,81);
    background: radial-gradient(circle, rgba(250,66,81,1) 38%, rgba(184,3,37,1) 75%, rgba(79,20,32,1) 100%);
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 0.08cm;
}

#partner_gender{
    cursor: pointer;
}


.footer{
    width: 100%;
    height: 55px;
    box-shadow: 5px 2px 35px black;
    position:fixed;
    bottom: 0;
    left: 0;
    background: #2c2c2c;
    display: flex;
    justify-content: center;
}

.footercontent{
    width: 90%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.footercontent ul{
    width: 200%;
    height: 8px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.5%;
    font-weight: 600;
    transition: all .3 ease;
}

.footleftsection{
    width: 70%;
    display: flex;
    flex-direction:row;
    align-items: center;
    gap: 20px;
}

.footleftsection ul a{
    text-decoration: none;
    color: #fff;
    font-size: 17px; 
}

.footleftsection ul a:hover{
    font-size: 18px; 
}

.footleftsection ul a:hover{
    color: #fdf28f;
}

@media screen and (max-width:1600px){

    .selectisparent{
        margin: 120px;
    }

    .select_section {
        height: 310px;
    }
}

@media screen and (min-width: 769px){
    .sidePanel{
        display: none;
    }
    
    .sidepanelbtn{
        display: none;
    }
}